{% extends 'sideBar.html.twig' %}
{% block content %}
    <h1 class="mb-4">Modifier FicheAssurance</h1>

    {{ include('fiche_assurance/_form.html.twig', {'button_label': 'Modifier'}) }}


    <a href="{{ path('app_fiche_assurance_index') }}">back to list</a>


{% endblock %}




