{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(form, {'attr':{'class':'form-horizontal'}}) }}
    <button class="btn btn-primary submit-btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
