{% extends 'sideBar.html.twig' %}


{% block content %}
    <h1 class="mb-4">Modifier Remboursement</h1>

    {{ include('remboursement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_remboursement_index') }}">back to list</a>


{% endblock %}
