{% extends 'sideBar.html.twig' %}

                                {% block active_side %}
                                    <li>
                                        <a href="/dashboard">
                                            <i class="fas fa-columns"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/consultation">
                                        <i class="fas fa-calendar-check"></i>
                                        <span> Consultation </span>
                                        </a>
                                    </li>                                    
                                   
                                    <li class="active">
                                        <a href="/ordenance">
                                        <i class="fas fa-calendar-check"></i>
                                        <span> Ordenance </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/fichemed">
                                        <i class="fas fa-calendar-check"></i>
                                        <span> Fiche Medical </span>
                                        </a>
                                    </li>
                                {% endblock %} 