<!DOCTYPE html>

<title>New User</title>

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
<div class="modal fade contentmodal" id="doctorlist" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header justify-content-center border-bottom-0">
                <h4 class="modal-title">Doctor Details</h4>
                <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="media d-flex align-items-center justify-content-between">
                    <div class="flex-shrink-0 d-flex align-items-center">
                        <img src="{{ asset('BackAdmin/img/doctors/doctor-09.jpg') }}" alt="" class="doctor">
                        <div class="doc-info">
                            <div class="docs-id"> #454445</div>
                            <h3>{{ user.nom }} </h3>
                            <p>BDS, MDS - Oral & Maxillofacial Surgery</p>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="ratings">
                            <p><i class="fas fa-star filled mr-1"></i>4.5</p>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <h5>Details</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Member Since</h6>
                                <p>Nov 21, 2022</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Speciality</h6>
                                <p>Dentist</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Consultation Fees</h6>
                                <p>$100 / Consultation</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <h5>Personal Information</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Gender</h6>
                                <p>Male</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Date of Birth</h6>
                                <p>21, Dec 2022</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Location</h6>
                                <p>Newyork, USA</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Phone Number</h6>
                                <p>+1 5454 2154 4545</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Email ID</h6>
                                <p><a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c286ada1b6adb08286ada1a1b7b0a7eca1adaf">[email&#160;protected]</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lang-wrap">
                    <p>No of Consultation / Cancelled : <span>85/21</span></p>
                    <p>Total Income Earned : <span>$4,544,784</span></p>
                </div>
                <div class="submit-section">
                    <a data-bs-dismiss="modal" data-bs-toggle="modal" href="#editModal" class="btn btn-primary me-2">Edit</a>
                    <a data-bs-dismiss="modal" data-bs-toggle="modal" href="#deleteModal" class="btn btn-secondary">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
