{% extends 'sideBar.html.twig' %}

{% block content %}
    <h1>Créer une nouvelle Ordonnance</h1>

    {{ include('Front-Office/ordonnance/_form.html.twig') }}

    <a href="{{ path('app_ordonnance_index') }}"> retour à la liste </a>
{% endblock %}
