<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>