{% extends 'base-front.html.twig' %}
{% block body %}

<div class="content">
<div class="container-fluid">
<div class="row">

{% block menu %}
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
<div class="profile-sidebar">
<div class="widget-profile pro-widget-content">
<div class="profile-info-widget">
<a href="#" class="booking-doc-img">
<img src="{{asset('FrontOffice/img/patients/patient4.jpg')}}" alt="User Image">
</a>
<div class="profile-det-info">
<h3>Feryel Ouerfelli</h3>
<div class="patient-details">
<h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
</div>
</div>
</div>
</div>
<div class="dashboard-widget">
<nav class="dashboard-menu">
<ul>
<li>
<a href="{{ path('app_pharmacie_index') }}">
<i class="far fa-hospital"></i>
<span>Pharmacie</span>
</a>
</li>

<li>
<a href="{{ path('app_facture_index') }}">
<i class="fas fa-file-invoice"></i>
<span>Factures</span>
</a>
</li>

<li>
<a href="profile-settings.html">
<i class="fas fa-user-cog"></i>
<span>Parametres du profil</span>
</a>
</li>
<li>
<a href="change-password.html">
<i class="fas fa-lock"></i>
<span>Changer mot de passe</span>
</a>
</li>
<li>
<a href="{{ path('app_integration') }}">
<i class="fas fa-sign-out-alt"></i>
<span>Se deconnecter</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
{% endblock %}

<div class="col-md-7 col-lg-8 col-xl-9">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}