{% extends 'base.html.twig' %}

{% block body %}
    <h1>nammontant_a_remboursere: {{ remboursementid.nammontant_a_remboursere }}</h1>
    <p>mantant_maximale: {{ remboursementid.mantant_maximale }}</p>
    <p>etat: {{ remboursementid.etat }}</p>
{% endblock %}