{% extends 'base-front.html.twig' %}
{% block body %}
<div class="my-background" style="background-image: url('{{ asset('Parapharmacie.jpg') }}');">

    <h2 class="text-center">Les catégories</h2>
    <div class="container">
        <div class="row justify-content-center">
            <ul>
                {% for categorie in categories %}
                    <li>
                        <h3>{{ categorie.nom }}</h3>
                        <p>{{ categorie.description }}</p>
                        <a href="{{ path('app_produit_index1', {'categorie': categorie.id}) }}" class="btn btn-primary">
                            Voir les produits
                        </a>
                    </li>
                {% else %}
                    <li>Aucune catégorie trouvée.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}
