<form method="post" action="{{ path('app_rendez_vous_cancel', {'id': rendez_vou.id}) }}" onsubmit="return confirm('voulez vous vraiment annuler le rendez-vous?');">
    <button class="btn btn-sm bg-danger-light"><i class="fas fa-times"></i>Anuuler</button>
</form>
<!--<div class="modal fade custom-modal" id="appt_details" data-background="false" data-backdrop="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Appointment Details</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>


                            </div>
                        </div>
                    </div>
                </div>-->