<form method="post" action="{{ path('app_rendez_vous_confirm', {'id': rendez_vou.id}) }}" onsubmit="return confirm('voulez vous vraiment confirmer le rendez-vous?');">
    <button class="btn btn-sm bg-success-light"><i class="fas fa-check"></i>confirmer</button>
</form>

