{% extends 'base-front.html.twig' %}
{% block modal %}
<input type="hidden" id="rendezVousIdInput" name="rendezVousId" value="" />

                <div class="modal fade custom-modal" id="appt_details" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                {{ include('Front-Office/rendez_vous/_confirm_form.html.twig') }}

                </div>
                </div>
                </div>
                </div>
{% endblock %}