{% extends 'sideBar.html.twig' %}

{% block content %}
    <h1>Create new RendezVous</h1>

    {{ include('Front-Office/rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>
{% endblock %}
