
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(form, {'attr':{'class':'form-horizontal'}}) }}
            <button class="add-new-btn">{{ button_label|default('Enregistrer') }}</button>
 
{{ form_end(form) }}


