{% extends 'sideBar.html.twig' %}


{% block content %}

    <h1>Créer une nouvelle consultation</h1>

    {{ include('Front-Office/consultation/_form.html.twig') }}

    <a href="{{ path('app_consultation_index') }}" > retour à la liste des consultations</a>
{% endblock %}
