
{% extends 'Menu.html.twig' %}

{% block content %}
    <h1>Ajouter une Pharmacie</h1>

    {{ include('pharmacie/_form.html.twig') }}



    <a href="{{ path('app_pharmacie_index') }}" class="btn btn-primary mt-3">{{ button_label|default('Retour') }}</a>
{% endblock %}
